
.ourFeatures__section {
  padding: 60px 0 60px 0;
  margin: 0 auto;
}

.ourFeatures__wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (min-width: 632px) {
    justify-content: space-between;
    width: 610px;
  }
  @media screen and (min-width: 1024px) {
    flex-wrap: nowrap;
    width: 900px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    width: 1150px;
  }
}

.card {
  text-align: left;
  max-width: 300px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  border: 1px solid $grey;
  transition: 500ms all;
  overflow: hidden;
  padding-bottom: 10px;
  border-radius: 7px;
  @media screen and (min-width: 1024px) {
    max-width: 200px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
  &:hover .card__image--1 {
    animation: animatedImg linear 2.5s infinite;

    // animation-play-state: paused;
  }
  &:hover .card__image-detail--2 {
    animation: animatedDetail2 cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.5s infinite reverse;
    // animation-play-state: paused;
  }
  &:hover .card__image-detail--3 {
    // animation-play-state: paused;
    animation: animatedDetail3 linear 1.5s infinite;
  }
  &:hover .card__image--4 {
    // animation-play-state: paused;
    animation: animated4 cubic-bezier(0.68, -0.55, 0.265, 1.55) 5s infinite;
  }
  &:hover {
    transition: 500ms all;
    border: 1px solid $dark-grey;
    -webkit-box-shadow: 4px 4px 27px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 27px 8px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 27px 8px rgba(34, 60, 80, 0.2);
  }
}

.card__content__wrapper {
  overflow: hidden;
  width: 100%;
  background-color: $grey;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__card__image {
  width: 200px;
  padding: 20px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card__image {
  width: 65px;
  height: 65px;
  &--1 {
    @keyframes animatedImg {
      100% {
        transform: rotate(360deg);
      }
    }
  }
  &--4 {
    padding: 5px;
    overflow: visible;
    border-radius: 50%;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    @keyframes animated4 {
      0% {
        transform: scale(-1, 1);
        // border-top: 5px solid $blue;
        // border-right: 5px solid $blue;
      }
      25% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(-1, 1);
        // outline: 10px $blue solid;
        border-top: 5px solid $blue;
        border-right: 5px solid $blue;
      }
      75% {
        transform: scale(1, 1);
        border-top: 5px solid transparent;
        border-right: 5px solid transparent;
      }
      100% {
        transform: scale(-1, 1);
        // border-top: 5px solid $blue;
        // border-right: 5px solid $blue;
      }
    }
  }
}

.card__image-detail {
  position: absolute;
  &--1 {
    width: 48px;
    top: -23px;
  }
  &--2 {
    width: 70px;
    top: -20px;
    right: 57px;
    @keyframes animatedDetail2 {
      50% {
        top: 20px;
        right: 130px;
        opacity: 0;
        visibility: hidden;
      }
      100% {
        top: -25px;
        right: 50px;
        opacity: 1;
        visibility: initial;
      }
    }
  }
  &--3 {
    width: 27px;
    top: -20px;
    left: 83px;
    fill: $dark-grey;

    @keyframes animatedDetail3 {
      50% {
        top: -27px;
        fill: $blue;
        transform: scaleY(3);
      }
    }
  }
  &--4 {
    width: 100px;
    // right: 99px;
    // top: -9px;
  }
}

.card__headline {
  padding: 0 16px;
  margin-bottom: 5px;
  font-size: 14px;
  color: $text-color;
  font-family: $main-font;
  font-weight: 700;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.card__text {
  padding: 0 16px;
  font-family: $main-font;
  color: $dark-grey;
  font-size: 12px;
  font-weight: 400;
  @media screen and (min-width: 1200px) {
    font-size: 15px;
  }
}
